from aocd.models import Puzzle, User

from common.config import settings

puzzle = Puzzle(
    year={{ year }},
    day={{ day }},
    user=User(token=settings.AOC_SESSION.get_secret_value()),
)


def load_input(is_test: bool = False) -> str:
    if is_test:
        with open(settings.BASE_DIR / "y{{ year }}/d{{ '%02d' % day }}/test.txt") as fh:
            return fh.read().strip()

    return puzzle.input_data


def part1(data):
    pass


def part2(data):
    pass
